@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Oswald&family=Syne:wght@400;500;600&display=swap');

:root{
    --header-height: 3.5rem;
    /*======================COLORS================*/

    --hue:229;
    --first-color: hsl(var(--hue),90%, 10%);
    --first-color-alt: hsl(var(--hue),82%, 56%);
    --first-color-light:  hsl(var(--hue),40%, 80%);
    --title-color:  hsl(var(--hue),24%, 16%);
    --text-color:  hsl(var(--hue),8%, 45%);
    --text-color-light: hsl(var(--hue),8%, 60%);
    --white-color:hsl(0,0%,100%);
    --body-color:hsl(0,0%,100%);
    --container-color: hsl(0, 0%, 100%);
    --shadow-color:hsla(var(--hue),90%,30%,.1);

    /*=============FONTS================*/
    --body-font:"Syne", sans-serif;
    --biggest-font-size: 2rem;
    --mulave-title: 3rem;
    --mulave-add: 1rem;
    --mulave-info: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*=============Font Weight =======================*/
    --font-regular:400;
    --font-medium: 500;
    --font-semi-bold:600;

    /*=========== Z Index =================*/
      
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;


}


@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size:4.5rem;
        
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
button{
    
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{

    
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
    
}

input,
button,
textarea{
    border:none;
    outline:none;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display:block;
    max-width: 100%;
    height: auto;
}

/*======== THEME ==================*/
.nav__actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme{
    color: var(--white-color);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color .4s;
}

/*========Variables for Dark Theme ==================*/

body.dark-theme{
    --first-color: hsl(223, 49%, 27%);
    --title-color:  hsl(var(--hue),24%, 85%);
    --text-color:  hsl(var(--hue),8%, 70%);
    --body-color:hsl(var(--hue),16%, 8%);
    --container-color: hsl(var(--hue),16%, 12%);
    --shadow-color:hsla(var(--hue),32%,4%,.4);
    
}

.dark-theme .bg-header{
    box-shadow: 0 12px 24px var(--shadow-color);
}

.dark-theme .services__modal{
    background-color: hsla(var(--hue), 90%, 8%, .2);
    
}

.dark-theme::-webkit-scrollbar{
    background-color: hsl(var(--hue), 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue), 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue), 16%, 35%);
    
}








/*========REUSABLES==================*/
.container{
    max-width: 1120px;
    margin-inline:1.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.section{
    padding-block:5rem 1rem;
}

.section__title{
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;

}

.section__title2{

    text-align: center;
    margin-top: 5rem;

}

.perfil{
    width: 250px;
    height: 250px;
    background-color: var(--body-color);
    border: 8px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s;
}

.perfil__content{
    width: 180px ;
    height: 180px;
    border: 10px solid var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(180deg,
                hsl(var(--hue),90%, 80%),
                hsl(var(--hue),90%, 30%));
}

.perfil__img{
    width: 150px;
}

.main{
    overflow: hidden;
}


/*================ HEADER & NAVIGATION======================*/

.header{
    position: fixed;
    width: 100%;
    top : 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__toggle,
.nav__close{
    display:  inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__toggle{
    color:var(--white-color);
    transition: color .4s;
}

.nav__close{
    color: var(--title-color);
}

@media screen and (max-width: 1150px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 12px 24px var(--shadow-color);
        padding-block: 5rem 4rem;
        transition: top .4s;
    }
    
}

.nav__list{
    display:flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link:hover{
    color:var(--first-color);

}

.nav__close{
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;

}


/* SHOW MENU */

.show-menu{
    top: 0;

}
/* Background Header */

.bg-header{
    background-color: var(--body-color);
    box-shadow: 0 2px 16px var(--shadow-color);
}


.bg-header :is(.nav__logo, .nav__toggle, .change-theme){
    color: var(--title-color);
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color:var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: background-color .4s, box-shadow .4s;

}

.button:hover{
    background-color: var(--first-color);
    box-shadow: 0px 8px 24px hsla(var(--hue),90%,30%,.3);
}

/*===============HEADER FOR OTHER PAGE======================*/
.header-pages{
    background-color:var(--body-color);
}

.header-pages :is(.nav__logo, .nav__toggle, .change-theme){
    color: var(--title-color);
} 


/*=============== HOME PAGE ======================*/
.home{
    position: relative;
    border-bottom: 8px solid var(--first-color);
    
 

}

.home__rectangle{
    width: 100%;
    height: 220px;
    background-color: var(--first-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    

 
}

.home__container{
     padding-block: 1rem;
    
}

.home__perfil{
    justify-self: center;
}

.home__content{
    row-gap: 3rem;
}


.home__data{
    row-gap: .75rem;
    text-align: center;
}

.home__name{
    font-size: var(--biggest-font-size);

}
.home__profession{
    font-size: var(--h2-font-size);
}

.home__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.home__social-link{
    font-size:1.5rem;
    color: var(--title-color);
    transition: color .4s;
}
.home__social-link:hover{
    color: var(--first-color);
}

.home__button{
    justify-self: center;
}



/*=============== ABOUT ======================*/
.about__page{
    padding-bottom: 4rem;
}
.about__perfil{
    justify-self: center;
}

.about__content{
    row-gap: 4rem;
}

.about__data{
   
  row-gap: 2rem;
}

.about__info{

    row-gap: .75rem;
    text-align: center;
}

.about__name{
    font-size: var(--h1-font-size);
}

.about__profession{
    font-size: var(--h2-font-size);
}

.about__description b{
    color:var(--first-color);
}

.about__button{
    justify-self: center;
}

.about__skills-title{
    font-size: var(--h3-font-size);
    text-align: center;
  margin-bottom: 2rem;
}


.about__skills-img{
    width: 35px;
    transition: transform .4s;
}

.about__skills-img:hover{
    transform: translateY(-.5rem);
}

.about__skills-content{
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    gap:2rem 1.5rem;

}




/*=============== Services ======================*/

.services__container{
    row-gap:2rem;

}

.services__card{
    background-color: var(--container-color);
    padding:3.5rem 1.5rem;
    box-shadow: 0 12px 24px var(--shadow-color);
    text-align: center;
    transition: background-color .4s;


}

.services__icon{
    display: inline-block;
    font-size: 3rem;
    color: var(--first-color);
    margin-bottom: 1rem;
}

.services__description{
    margin-bottom: 3rem;
}

.services__button{
    cursor: pointer;
}


.services__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--hue),90%,30%,.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity:0;
    visibility: hidden;  
    z-index: var(--z-modal);
    transition: opacity .4s, visibility .4s;
}

.services__modal-content{
    max-height: 420px;
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 1.5rem;
    border-bottom: 6px solid var(--first-color);
    overflow: auto;
}

.services__modal-content::-webkit-scrollbar{
    width: .6rem;
}

.services__modal-content::-webkit-scrollbar-thumb{
    background-color: var(--text-color-light);
}

.services__modal-title{
    font-size: var(--h2-font-size);
    margin-bottom: 2.5rem;
}

.services__modal-list{
    margin-left: 1rem;
}

.services__modal-item{
    text-align: initial;
    list-style-type: square;
}

.services__modal-item::marker{
    color: var(--first-color);
}

.services__modal-close{
    position:absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;

}

/* =====ACTIVATING MODAL ===== */

.active-modal{
    opacity: 1;
    visibility: visible;
}



/*=============== Work ================================================*/
/* Style for the floating question container */
.floating-question {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    
  }
  
  /* Style for the question mark */
  .question-mark {
    font-size: 24px; 
    font-weight: bold;
    color: #fff;
    background-color: var(--first-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease; 
    animation: tilt 0.6s ease-in-out infinite; 
  }
  
  /* Tooltip styling */
  .floating-question .tooltip-text {
    visibility: hidden;
    width: 700px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 10px; 
    border-radius: 6px; 
    position: absolute; 
    top: 50%; 
    right: calc(100% + 10px);
    transform: translateY(-50%); 
    z-index: 1001; 
    opacity: 0; 
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    white-space: normal; 
    word-wrap: break-word; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Tooltip arrow */
  .floating-question .tooltip-text::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
  }
  

  .floating-question:hover .tooltip-text {
    visibility: visible; 
    opacity: 1; 
  }
  

  .floating-question:hover .question-mark {
    animation: tilt 0.6s ease-in-out; 
  }
  

  @keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg); 
    }
    50% {
      transform: rotate(-10deg); 
    }
    75% {
      transform: rotate(5deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
  
  
  

.work__container{
    row-gap: 2rem;
    padding: 0 10vw; 
    
}

.work__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}

.work__link{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.work__img{
    filter: grayscale(1);
    transition: transform 0.5s ease, filter 0.5s ease; 
    height: 600px;
    width: 100%;
    object-fit: cover;
}



/* ======= Container 2 ===== */
.work__img2{
    filter: grayscale(1);
    transition: transform 0.5s ease, filter 0.5s ease; 
    height: 300px;

    width: 100%;
    object-fit: cover;
}


.work__container{
    row-gap: 2rem;
    padding: 0 10vw; 
}

.work__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}
.work__link:hover .work__img2{
    transform: scale(1.1);
    filter: none;
    
}


/* ======= Container 3 ===== */
.work__img3{
    filter: grayscale(1);
    transition: transform 0.5s ease, filter 0.5s ease; 
    height: 100%;

    width: 100%;
    object-fit: cover;
}


.work__container3{
    row-gap: 2rem;
    padding: 0 1vw; 
}

.work__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}
.work__link:hover .work__img3{
    transform: scale(1.1);
    filter: none;
    
}




.Art-video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Art-video:hover{
    transition: transform 0.5s ease, filter 0.5s ease; 
    transform: scale(1.1);

}

.work__card:hover .Art-video {
    display: block;
    transform: scale(1.1);
    filter: none;

    
}


.work__icon{
    position:absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;
    color: var(--first-color);
    transition: transform .4s ;
}

.work__link:hover .work__img{
    transform: scale(1.1);
    filter: none;
    
}

.work__link:hover .work__icon{
    transform: translate(.5rem, -.5rem) rotate(-30deg);
    margin-bottom: .25rem;
}


.work__page{
    padding-bottom: 4rem;
}


 
/*================= MULAVE ==========================*/

.work__mulave{
    row-gap: 2rem;
    padding: 0 1vw; 
    background-color: black;
    
}

.work__img_mulave{
    filter: grayscale(1);
    transition: transform 0.5s ease, filter 0.5s ease; 
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.work__link:hover .work__img_mulave{
    transform: scale(1.1);
    filter: none;
    
}
.work__img_logo{
    padding: 4vw 4vw ; 
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit:fill;
}
.Mulave_txt{
    color: white;
    font-size: var(--mulave-add);
    padding: 0 3vw; 
}

.title_mulave{
    color: white;
    padding: 8vw 0 0 0;
    font-size: var(--mulave-title);
}

.txt_small{
    color: white;
    font-size: var(--mulave-info);
    padding: 1.5vw;
    
}
.small{
    color: white;
    padding: 0vw 0vw 2vw 0vw;
}

/*=============== Testimonial ======================*/
.testimonial__container{
    position: relative;
    
 
   
}

.testimonial__swiper{
    padding-bottom: 2rem;
 
}

.testimonial__card{
    background-color: var(--container-color);
    padding: 2rem 1.25rem 2.5rem 1.25rem;
    border-inline: 8px solid var(--first-color);
    box-shadow: 0 12px 24px var(--shadow-color);
    text-align: center;
    transition: background-color .4s;
   
    
}

.testimonial__border{
    width: 100px;
    height: 100px;
    border: 6px solid var(--first-color);
    border-radius: 50%;
    margin: 0 auto 1rem;
    overflow: hidden;
  
  
}

.testimonial__img{
    filter: grayscale(1);
    transition: filter .4s;

}

.testimonial__name{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.testimonial__card:hover .testimonial__img{
    filter: none;
}



.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -1rem;
}

.swiper-pagination-bullet{
    background-color: var(--first-color);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
} 


/*=============== Conctact ======================*/
.contact__container{
    padding-bottom: 4rem;
   
}


.contact__button{
    justify-self: center;
    
    
}

.contact__page{
    padding-block: 1rem 4rem;
}

.contact__form{
    position: relative;
}

.contact__box{
    position: relative;
    width: 100%;
    height: 58px;

}

.contact__input{
    width:100%;
    height: 100%;
    background-color: var(--body-color);
    border:3px solid var(--text-color);
    padding: .5rem 1.5rem;
    transition: border-color .4s, background-color .4s;
}

.contact__input:focus{
    border-color: var(--title-color);
}

.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

.contact__label{
    position: absolute;
    top: -16px;
    left: 16px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    background-color: var(--body-color);
    padding: 9px;
    transition: background-color .4s;
}

.contact__area{
    height:10rem;

}

.contact__area textarea{
    resize: none;
    padding-top: 1.25rem;

}

.contact__send{
    padding-block: 1.25rem;
    cursor: pointer;
}


.contact__message{
    position: absolute;
    bottom: -2rem;
    left: 0;
    font-size:var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}


/*===============  Footer  ======================*/
.footer{
    background-color: var(--first-color);
}

.footer__container{
    padding-block: 4rem 2rem;
    text-align: center;
    row-gap: 5rem;
}

.footer__content{
    row-gap:2rem;
}

.footer__content a,
.footer__copy{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    justify-self: center;

}

.footer__logo{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    justify-self: center;
}

.footer__links,
.footer__social{
    display: flex;
    justify-content: center;
}

.footer__links{
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__link{
    font-weight: var(--font-semi-bold);
}

.footer__logo:hover,
.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    column-gap: 1rem;
    transition: transform .4s;
}

.footer__social-link{
    font-size: 1.5rem;
    transition: transform .4s;
}

.footer__social-link:hover{
    transform: translateY(-.25rem);
}

.footer__copy{
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
}

/*===============  Scroll Bar  ======================*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(var(--hue),20%,85%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue),20%,65%);

}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue),20%,55%);

}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 12px 24px var(--shadow-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
    border-radius: 50%;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 3rem;
}



/*===============  Screen Sizes  for Responsiveness ======================*/
/*------------------  Small Device --------------------*/

@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }
    
    .services__modal{
        padding-inline: .5rem;
    }

    .about__skills-content{
        grid-template-columns: repeat(4, max-content);
    }

    


}

/*------------------  Medium Device --------------------*/

@media screen and (min-width: 576px) {
    .services__container{
        grid-template-columns: 320px;
        justify-content: center;
    }

    .services__modal-content{
        width: 400px;
    }

    .work__container{
        grid-template-columns: 350px;
        justify-content: center;
    }
    
    .about__container{
        grid-template-columns: 400px;
        justify-content: center;
    }

    
}


@media screen and (min-width: 768px) {
    .services__container{
        grid-template-columns: repeat(2, 320px);
    }

    .work__container{
        grid-template-columns: repeat(2, 350px);
    }
    .testimonial__container{
        max-width: 700px;
        margin-inline: auto;
    }
    .testimonial__description{
        width: 470px;
        margin-inline: auto;

    }
    
    .contact__page{
        grid-template-columns: 670px;
        justify-content: center;
    }

    .contact__group{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact__area{
        height: 18rem;
    }
    .contact__message{
        bottom: 5rem;
    }
    
    .contact__send{
        justify-self: center;
        margin-top: 1.5rem;
    }

}


/*------------------  Large Device --------------------*/
@media screen and (min-width: 1150px){

    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .section__title{
        margin-bottom: 3.5rem;
    }
    .section__title2{

        text-align: center;
        margin-top: 5rem;
    
    }

    .nav{
        height: calc(var(--header-height));
        column-gap: 3rem;
    }

    .nav__toggle, .nav__close{
        display: none;
    }
    
    .nav__menu{
        margin-left: auto;
    }

    .nav__list{
        flex-direction: row;
        align-items: center;
        column-gap: 3rem;
    }

    .change-theme{
        color: var(--title-color);
    }

    .perfil{
        width: 500px;
        height: 500px;
        border-width: 15px;
    }

    .perfil__content{
        width: 360px;
        height: 360px;
        border-width: 20px;
    }

    .perfil__img{
        width: 300px;
    }
    
    .home__rectangle{
        width: 30vw;
        height: 100%;
    }

    .home__container{
        position: relative;
        grid-template-columns: 500px 300px;
        align-items: center;
        column-gap: 4rem;
        padding-block: 3.5rem 8rem;
    }

    .home__content{
        row-gap: 4rem;
    }

    .home__data{
        row-gap: 1rem;
        text-align: initial;
    }

    .home__social{
        flex-direction: column;
        row-gap: 1.5rem;
        position: absolute;
        top: -4rem;
        bottom: 0;
        right: 0;
    }

    .home__social-link{
        color: var(--first-color);
    }

    .home__button{
        justify-self: flex-start;
    }

    .services__container{
        grid-template-columns: repeat(3, 345px);
    }

    .services__modal-content{
        max-height: 480px;
        padding: 5.5rem 2rem;
    }

    .services__modal-close{
        font-size: 2rem;
    }

    .work__container{
        grid-template-columns: repeat(3, 350px);
        row-gap: 4rem;
        
    }

    .work__container2{
        grid-template-columns: repeat(2, 550px);
        row-gap: 2rem;
    }

    .work__container3{
        grid-template-columns: repeat(2, 550px);
        row-gap: 2rem;
    }

    .work__mulave{
        grid-template-columns: repeat(2, 550px);
        row-gap: 2rem;
    }
    

    

    .testimonial__card{
        padding-block: 3rem 3.5rem;
    }

    .testimonial__border{
        width: 120px;
        height: 120px;
        margin-bottom: 1.5rem;
    }

    .contact__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 25rem;
        padding-block: 1rem 5rem;
    }

    .contact__container .section__title{
        text-align: initial;
        margin: 0;
    }
    .section__title2{

        text-align: center;
        margin-top: 5rem;
    
    }

    .footer__container{
        row-gap: 6rem;
        padding-block: 3.5rem ;
    }

    .foooter__content{
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    .footer__logo{
        font-size: var(--h2-font-size);

    }

    .footer__links{
        column-gap: 3rem;
    }

    .footer__social{
        column-gap: 1.5rem;
    }

    .scrollup{
        right: 3rem;
    } 

    .about__container{
        grid-template-columns: 500px 440px;
        align-items: center;
        column-gap: 8rem;
        padding-top: 2rem;
    }

    .about__data{
        row-gap: 3.5rem;
    }

    .about__info{
        text-align: initial;
    }

    .about__button{
        justify-self: flex-start;
        
    }

    .about__skills-title{
        text-align: initial;
    }

    .about__skills-content{
        grid-template-columns: repeat(7, max-content);
        justify-content:initial ;
    }

    .about__skills-img{
        width: 40px;
    }

}



@media screen and (min-width: 1500px) {
    .home__rectangle{
        width: 33vw;
    }
}





/*------------------  For 2k resolutions --------------------*/


@media screen and (min-width: 2048px) {
     .home__rectangle{
        width: 40vw;
    } 

    /* .home{
        max-width: 1440px;
        margin-inline: auto;
        border-right: 8px solid var(--first-color);

    }

    .home__rectangle{
        width: 23vw;
    } */
}





/* Theme Mode Styles */
.mode + .layer_container {
    --color-pure: #000;
    --color-primary: #e8e8e8;
    --color-secondary: #212121;
    --muted: #b8b8b8;
  }
  
  .layer_container {
 
    position: inherit;
    margin-bottom: 10vh;
    width: 100%;
    height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .layer_container .theme {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    position: relative;
    cursor: pointer;
    z-index: 9;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid var(--muted);
    border-radius: calc(var(--round) - var(--p-y));
    margin-left: calc(var(--p-x) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.25s linear;
  }
  .layer_container .theme:hover {
    background-color: var(--first-color);
  }
  .layer_container .theme::before {
    content: "";
    position: absolute;
    left: calc(var(--p-x) * -1);
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
  }
  .layer_container .theme span {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.125rem;
    border-radius: 9999px;
    align-items: center;
    justify-content: center;
  }
  .mode:checked + .layer_container .theme span.light,
  .mode + .layer_container .theme span.dark {
    display: none;
  }
  .mode + .layer_container .theme span.light,
  .mode:checked + .layer_container .theme span.dark {
    display: flex;
  }
  .layer_container .theme svg {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: currentColor;
    fill: none;
    height: 22px;
    width: 22px;
  }
  
  /* Main Styles */
  .wrap {
    --round: 10px;
    --p-x: 8px;
    --p-y: 4px;
    --w-label: 140px; /* Adjusted for 2 tabs */
    display: flex;
    align-items: center;
    padding: var(--p-y) var(--p-x);
    position: relative;
    background: var(--body-color);
    border: 3px solid var(--first-color);
    border-radius: var(--round);
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    top: 0;
    z-index: 1;
  }
  .wrap input {
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
  .label {
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    letter-spacing: initial;
    font-weight: 500;
    color: #ffff;
    background: transparent;
    padding: 12px 16px;
    width: var(--w-label);
    min-width: var(--w-label);
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    transition: color 0.25s ease;
    outline-offset: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
  }
  .label span {
    overflow: hidden;
    color: var(--text-color-light);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: var(--font-semi-bold);
    
  }
  .wrap input[class*="rd-"]:checked + label {
    color: var(--container-color);
  }



  .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    transform-origin: 0 0 0;
    height: 100%;
    width: var(--w-label);
    z-index: 0;
    
    transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
  }
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    
    background: var(--first-color);
  }
  .bar::before {
    top: 0;
    border-radius: 0 0 9999px 9999px;
  }
  .bar::after {
    bottom: 0;
    border-radius: 9999px 9999px 0 0;
  }
  .slidebar {
    position: absolute;
    height: calc(100% - (var(--p-y) * 4));
    width: var(--w-label);
    border-radius: calc(var(--round) - var(--p-y));
    background:var(--first-color);

    transform-origin: 0 0 0;
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
  }
  .rd-1:checked ~ .bar,
  .rd-1:checked ~ .slidebar,
  .rd-1 + label:hover ~ .slidebar {
    transform: translateX(0) scaleX(1);
  }
  .rd-2:checked ~ .bar,
  .rd-2:checked ~ .slidebar,
  .rd-2 + label:hover ~ .slidebar {
    transform: translateX(100%) scaleX(1);
  }
  

  .slidebar2 {
    position: absolute;
    height: calc(100% - (var(--p-y) * 4));
    width: var(--w-label);
    border-radius: calc(var(--round) - var(--p-y));
    background:var(--first-color);
    transform-origin: 100% 0 0; 
    transform: translateX(100%); 
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
  }
  


  .playercontainer{
  
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    padding: 20px;

  }

  .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    
  }
  
  .video-wrapper {
    background:var(--first-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  
  
  }

 .videoplayer{
    color: var(--text-color-light);
    font-weight: var(--font-regular);
  }
  .videoplayer_title{
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
  }
  
  .video-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #fff;
    cursor: pointer;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    visibility: visible;
    opacity: 1;
  }
  
  .play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .play-button svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
  
  .hide {
    display: none;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .timeline {
    width: 100%;
    margin: 10px 0;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    overflow: hidden;
  }
  
  .timeline::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--first-color);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.3s;
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background-color: var(--first-color);
  }
  
  .timeline::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color:var(--first-color);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.3s;
  }
  
  .timeline::-moz-range-thumb:hover {
    background-color: var(--first-color);
  }